.home-background {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: white;
  padding-top: 8em;
  padding-bottom: 8em;
  opacity: 0.8;
}
.home-title {
  font-size: 13vw;
  text-shadow: 0.5vw 0.5vw black;
}

.home-description {
  font-size: 3vw;
  padding: 1em 3em;
  text-shadow: 0.2vw 0.2vw black;
}
