header {
  padding: 10px 0;
  background-color: rgba(56, 50, 50);
  box-shadow: 5px 5px 5px grey;
  text-shadow: 2px 2px black;
  color: white;
}

main {
  padding-top: 1em;
  background-color: rgba(242, 237, 237, 0.5);
}

.historyTable {
  margin-top: 1em;
  height: 300px;
  width: 100%;
}
