header {
  padding: 10px 0;
  background-color: rgba(56, 50, 50);
  box-shadow: 5px 5px 5px grey;
  text-shadow: 2px 2px black;
  color: white;
}

.historyTable {
  margin-top: 1em;
  height: 300px;
  width: 100%;
}

.chart {
  margin-top: 5vh;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.return-to-stock-btn {
  white-space: nowrap;
}
