header {
  padding: 10px 0;
  background-color: rgba(56, 50, 50);
  box-shadow: 5px 5px 5px grey;
  text-shadow: 2px 2px black;
  color: white;
}

main {
  padding-top: 0.5em;
  background-color: white;
}

.industryButton {
  margin: 5px;
}

.symbolInput {
  width: 30%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
  padding: 5px;
  margin: 5px;
}

.symbolInput:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.companyTable {
  margin-top: 1em;
  height: 300px;
  width: 100%;
  box-shadow: 4px 4px 4px grey;
}

.card {
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: left;
  background-color: rgba(242, 237, 237, 0.5) !important ;
  padding: 1em;
}

.card > h4 {
  padding-top: 0.5em;
  padding-left: 0.5em;
}
